body{
  background-image: url("background.jpg");
	background-attachment: fixed;
	background-size:100%;
}

img {
  border-radius: 3px;
  cursor: not-allowed;
  transition: 0.2s;
  padding: 5px;
}

img:hover{
  transform: scale(1.35);
  box-shadow: 0 0px 8px #4603e2, 0 0px 10px #e20a03;
}
/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: rgb(94, 1, 1);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 2;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    font-size: 150%;
    font-style: italic;
    font-family: Papyrus, fantasy;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-shadow: rgb(12, 9, 9);
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: rgb(56, 74, 126);
    color: rgb(255, 255, 255);
    text-decoration-line: underline;

  }
  
  /* Main content */
  .main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
  }

  .lines {
    line-height: 0.4;
    text-align: center;
    font-family: Papyrus, fantasy;
    font-size: 200%;
    }
    .lines span {
    display: inline-block;
    position: relative;
    }

    .lines span:before {
    right: 100%;
    margin-right: 15px;
    border-bottom: 5px solid rgba(104, 51, 2, 0.808);
    border-left: 5px solid rgba(104, 51, 2, 0.808);
    content: "";
    position: absolute;
    height: 5px;
    top: 0;
    width: 100%;
    }
    .lines span:after {
    left: 100%;
    margin-left: 15px;
    border-bottom: 5px solid rgba(104, 51, 2, 0.808);
    border-right: 5px solid rgba(104, 51, 2, 0.808);
    content: "";
    position: absolute;
    height: 5px;
    top: 0;
    width: 100%;
    }

    .content {
      line-height: 0.4;
      text-align: center;
      font-family: Papyrus, fantasy;
      font-size: 120%;
      font-weight: bold;
      }

      .fuckit {
        text-align: center;
      }